.modalContainer{
    margin-top:35%;
}

.btnsContainer{
  z-index:1000;
}

.smallBTN{
  color:#22baa0;
  border-color:#22baa0;
  border-width:5;
  margin-top:20;
  padding-top:5%;
  text-align:center;
  font-size:30;
  background-color:#ffffff;
  width:50;
  height:50;
}

.modalLogo{
  color:#22baa0;
  border-color:#22baa0;
  border-width:5;
  padding-top:15%;
  text-align:center;
  font-size:40;
  background-color:#ffffff;
  width:80;
  height:80;
}

.modalBodyHolder{
  background-color:#22baa0;
  margin-top:-30;
  z-index:100;
  padding-top:30;
  padding-bottom:30;
}

.modalLabel{
  color:#ffffff;
  font-size:20;
  font-weight:bold;
  padding-left:25;
  padding-right:10;
}

.modalTextField{
  background-color:#ffffff;
  text-align:center;
  margin-top:10;
  font-weight:bold;
}
